header {
    background-color:rgb(27, 7, 27);
    font-family: "Silkscreen" serif;
    padding: 23px;
    margin: 0%;
    border-bottom: 2px solid rgb(255, 255, 255);
}

header h1{
    display: contents;        
    font-weight: 500;
    color:aliceblue;
    font-size: 25px;
    font-family:"Silkscreen";


}

nav{
    color:aliceblue;
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    padding: 0px 20px;
    margin: 0%;
    font-size: 20px;
    font-family: "Silkscreen";
    
    
}
nav a{
    color: aliceblue;
    padding: 0 1.5rem;
    text-decoration: none;

}
nav a:hover{
    color: magenta;
}


body{
    padding:0%;
    margin:0%;
}

div.gambar {
    position: relative; bottom: 40px;top: 70px;
}



body > article {
    padding: 30px;
    padding-right: 804px;
    
} 



div.sekolah {
    float: right;
    color: yellow;
    font-size: 20px;
    font-family: "Silkscreen";
    position: relative; left: 750px; bottom: 190px;
   
}

.center {
    border-bottom: solid navy;
    width: 10em;
    color: yellow;
    position: relative; left: 580px; top: 8px;
    font-size: 25px;
    font-family: "Silkscreen"; 
    text-align: center;
    background-color: rgb(63, 19, 63);
    

}

  @media (max-width:440px) {
    
  

    
    header{
        padding-right: 1240px;
        padding-bottom: 200px;
        white-space: nowrap;
        
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-content: space-between;
        position: relative; top: 140px; right: 40px;
        font-size: 50px;
    
    }
    header h1{
        font-size: 80px;
    }
    
    

    div.center{
        display: flex;
        font-size: 60px;
        display: flex;
        flex-direction: row;
       
        
    }

    article img{
        height: 450px;
    }
    .center01{
        position: relative;right: 200px;
    }
    div.sekolah{
        
        font-size: 36px;
        position: relative; left: 60px;  
        display: flex;
        flex-direction: row;
        
        
    }
    .sekolah01{
        display: flex;
        flex-direction: row;
        position: relative; bottom: 200px; left: 700px;
        
    }
   
    .article01{
        display: flex;
        flex-direction: row;
    }
   .menu01{
    font-size: 2000px;
   }


  }
    
